/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.server-db-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.server-icon,
.db-icon {
  width: 60px;
  height: 60px;
}

.connection {
  width: 60px;
  height: 4px;
  background: #39ac31;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.connection::before {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  position: absolute;
  left: -20px;
  top: 0;
  animation: move 1s linear infinite;
}

@keyframes move {
  0% {
    left: -20px;
  }
  100% {
    left: 60px;
  }
}
